/*
=========================================================
STYLE.CSS

Bevat styling voor de applicatie
=========================================================
*/

body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

/* Container */
.container {
    margin-top: 50px;
}

/* Knoppen */
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Les blok */
.les {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Dark mode */
.dark {
    background: black;
    color: white;
}